{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>

        <div>
            <h4>{{ post.author }}</h4>
            <h4>{{ post.date|date('Y-m-d') }}</h4>
          <p>{{ post.content }}</p>

        </div>




{% endblock %}


